/*
 * Start of CSS to be removed on production
 */

$small-up: "only screen";
$medium-up: "only screen and (min-width:40.0625em)";
$large-up: "only screen and (min-width:64.0625em)";

html, body{/*height: 100%;*/margin: 0;}
h1,h2,h3,h4,h5,h6{margin: 20px 0 15px 0;}

body {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #666666;
	background: #eceeee;
	line-height: 22px;

	@media #{$large-up} {
		// background: #b1d;
	}

	.container {
		margin-right: auto;
		margin-left: auto;
		padding-left: 24px;
		padding-right: 24px;
		box-sizing: border-box;

		@media #{$medium-up} {
			max-width: 960px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.marker {
		width: 1px;
		height: 100%;
		top: 0;
		background: #b1d;
		position: absolute;
	}

	&:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	p {
		color: #666666;
		margin: 0 0 20px 0;
		// position: relative;
		text-align: justify;
	}

	a {
		// color: #3aa1c1;
		text-decoration: none;
	}

	button {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		font-size: 20px;
		font-weight: bold;
		outline: none;
		cursor: pointer;
	}
}

.button {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 0.875rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 300;
	line-height: normal;
	margin: 0 0 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0.6875rem 1.5rem 0.625rem;
	background-color: #86b929;
	color: #FFFFFF;
	transition: background-color 200ms ease-out;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 3px;
		background: #678f21;
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 0;
		-ms-transform-origin: 50% 0;
		transform-origin: 50% 0;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-duration: 200ms;
		transition-timing-function: ease-out;
	}

	&:hover:before {
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
	}
	
	// secondary
	&.secondary {
		background-color: #eceeee;
		border-color: #bac1c1;
		color: #666666;
	}
	&.secondary:hover,
	&.secondary:focus {
		color: #333333;
	}
	&.secondary:before {
		background-color: #c2c2c2;
	}

	// error
	&.error {
		background: #f96561;
	}
	&.error:before {
		background-color: #9b5e5c;
	}

	// warning
	&.warning {
		background: #f49300;
		border-color: #c37600;
		color: #FFFFFF;
	}
	&.warning:before {
		background-color: #99703b;
	}
}

/*
 * End of CSS to be removed on production
 */

/* Drag Base CSS */

#content {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#overlay {
	position: absolute;
	z-index: 99;
	top: 100px;
	left: 0;
	background-color: rgba(218, 234, 190, 0.2);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	border-bottom: 1px solid #cbcbcb;
	
	span {
		display: block;
		padding: 6px 12px;
		line-height: 200%;
		text-align: right;
	}

}

#view {
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: 6px 12px;
			border-bottom: 1px solid #cbcbcb;
			line-height: 200%;
			padding-left: 2em;

			&:nth-child(2n+1) {
				background: #ddd;
			}
		}
	}

}


